<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Server=2f00d136-b015-4a8b-8626-a43a00bfaa7a.sqlserver.sequelizer.com;Database=db2f00d136b0154a8b8626a43a00bfaa7a;User ID=grnknrfikecrhhdf;Password=dpDA7GLQBUHTxzDrQ76TqUiVVaSP3WqWzkq7XPfPcX5UfA4aNWattv5rgQN6X6WM;"/>
    <add name="photoartConnectionString" connectionString="Server=2f00d136-b015-4a8b-8626-a43a00bfaa7a.sqlserver.sequelizer.com;Database=db2f00d136b0154a8b8626a43a00bfaa7a;User ID=grnknrfikecrhhdf;Password=dpDA7GLQBUHTxzDrQ76TqUiVVaSP3WqWzkq7XPfPcX5UfA4aNWattv5rgQN6X6WM;"/>
  </connectionStrings>
  
  <system.web>
        <customErrors mode="Off"/>
    </system.web>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
