<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="photoartConnectionString2" connectionString="Server=2f00d136-b015-4a8b-8626-a43a00bfaa7a.sqlserver.sequelizer.com;Database=db2f00d136b0154a8b8626a43a00bfaa7a;User ID=grnknrfikecrhhdf;Password=dpDA7GLQBUHTxzDrQ76TqUiVVaSP3WqWzkq7XPfPcX5UfA4aNWattv5rgQN6X6WM;" />
    <add name="con" connectionString="Server=2f00d136-b015-4a8b-8626-a43a00bfaa7a.sqlserver.sequelizer.com;Database=db2f00d136b0154a8b8626a43a00bfaa7a;User ID=grnknrfikecrhhdf;Password=dpDA7GLQBUHTxzDrQ76TqUiVVaSP3WqWzkq7XPfPcX5UfA4aNWattv5rgQN6X6WM;" />
    <add name="photoartConnectionString" connectionString="Server=2f00d136-b015-4a8b-8626-a43a00bfaa7a.sqlserver.sequelizer.com;Database=db2f00d136b0154a8b8626a43a00bfaa7a;User ID=grnknrfikecrhhdf;Password=dpDA7GLQBUHTxzDrQ76TqUiVVaSP3WqWzkq7XPfPcX5UfA4aNWattv5rgQN6X6WM;" />
  </connectionStrings>
    <system.web>
      <!--<add key="ValidationSettings:UnobtrusiveValidationMode"
  value="WebForms" />-->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
     <add key="token" value="AQ..B6Uc0AaWWVVLF2IUceZhy.ZeA9Q8Nbp.XzOUmGCGnTt2MqvPzcQp"/>  
    <add key="paypalemail" value="cbhavesh34-buyer@gmail.com "/>
    
    <add key="FailedURL" value="http://localhost:2525/PayPalIntegration/Failed.aspx"/>
    <add key="SuccessURL" value="http://localhost:2525/PayPalIntegration/Success.aspx"/>
 
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
<system.web>
   <sessionState timeout="90" />
</system.web>
</configuration>
